/*

Dark mode color: #1E1E1E / #0f0f0f

Dark mode menu color: #570A57 / #00D7FF / #4E31AA / #03C988 -> Green



*/

/*CONFIGURAÇÕA CSS*/
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Righteous&family=RocknRoll+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color-dark);
    text-decoration: none;
    list-style: none;
}

:root {
    --menu-color: #03C988;
    --dark-mode: #2b2b2b;
    --font-color-dark: white;
    --font-color-light: black;
    --light-mode: white;
}

.hidden {
    display: none;
}
 
/*DEFINIÇÕES BODY E HEADER*/
body {
    min-height: 100vh;
    min-width: 100vh;
    background-color: var(--dark-mode);
}

header {
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
    width: 99%;
    height: 80px;
    background-color: #222222;
    border-radius: 0px 0px 10px 10px;
    margin-left: 0.5%;
}

/*IMAGE AND TITLE CONFIGURATION*/
header .img-title {
    display: flex;
    gap: 10px;
}

header .img-title img {
    width: 50px;
}

header .img-title h1 {
    font-family: 'RocknRoll One';

}

header .img-title h1 span {
    color: var(--menu-color);
    text-shadow: 0 0 7px #00ffaa;
}

/*SEARCH BAR CONFIGURATION*/

header .container-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container-search-bar .container-searchbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    outline: 2px solid var(--menu-color);
    width: 300px;
    height: 32px;
    padding-left: 8px;
    border-radius: 50px;
    background-color: white;
}

header .container-search-bar .container-searchbar-header .input {
    color: black;
    outline: none;
    border: none;
    width: 82%;
    font-size: 15px;
    font-family: 'Lexend';
}

header .container-search-bar .btn-pesquisar {
    width: 36px;
    height: 36px;
    background-color: var(--menu-color);
    z-index: 1;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    padding-top: 8px;
}

/*MENU CATEGORIAS*/
header .container-search-bar .menu-categorias {
    padding-left: 50px;
}

header .container-search-bar .menu-categorias .categorias{
    border: 2px solid var(--menu-color);
    padding: 5px 26px;
    border-radius: 50px;
    font-family: 'Lexend';
    font-size: 15px;
    color: white;
}
header .container-search-bar .menu-categorias .categorias:hover{
    color: var(--menu-color);
    text-shadow: 0 0 7px #00ffaa;

}

/*CONFIGURAÇÕA BOTOES LOGIN E SIGNUP*/
header .menu-options .btn-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header .menu-options .fa-caret-down,
.fa-right-to-bracket,
.fa-user-plus {
    color: white;
    font-size: 15px;
}

header .menu-options .custom-btn-login {
    width: 110px;
    height: 32px;
    color: white;
    font-family: 'Lexend';
    font-size: 15px;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    border: none;
    border-radius: 8px;
    background: var(--menu-color);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
}

header .menu-options .custom-btn-signup {
    width: 150px;
    height: 32px;
    color: white;
    font-family: 'Lexend';
    text-shadow: 1px 1px 2px black;
    font-size: 15px;
    text-align: center;
    border: none;
    border-radius: 8px;
    background: var(--menu-color);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
}

header .menu-options .custom-btn-login:hover{
    box-shadow: 0 0 10px #00ffaa, 0 0 20px #00ffaa, 0 0 40px #00ffaa;
    transform: scale(1.1);
    transition: all 0.5s ease;
}
header .menu-options .custom-btn-signup:hover{
    box-shadow: 0 0 10px #00ffaa, 0 0 20px #00ffaa, 0 0 40px #00ffaa;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

/*CONFIG MENU CATEGORIAS DROPDOWN*/


